Django
django-crispy-forms
crispy-bootstrap5
django-environ
django-widget-tweaks
Pillow
python-dotenv
psycopg2-binary
whitenoise
pytest
pytest-django
coverage
black
flake8
isort
jinja2
python-dateutil
requests
urllib3
asgiref
gunicorn
